<nav class="navbar navbar-expand-lg navbar-light bg-light mb-0 pb-0 pt-0">
    <a class="navbar-brand" href="#" style="font-size: 2em;"><strong>Car<span
                style="color: yellowgreen;">L</span>o</strong></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link" href="/users/logout" style="margin-left: 60em;"><i
                    class="fas fa-sign-in-alt"></i>&nbsp;Logout</a>

        </div>
    </div>
</nav>
<div class="row mt-5">
    <div class="col-md-6 m-auto">
        <div class="card forgot m-auto card-body text-center">
            <h1 class="text-center mb-3"><i class="fas fa-sign-in-alt"></i> Dashboard</h1>
            <p class="lead mb-3">Book your car today, <%= user.name %></p><br>
            <p>Or list your car here in just a few simple steps.</p>


        </div>
    </div>
</div>
<canvas class="background"></canvas>